.navbar {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: lightblue;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  display: flex;
  font-weight: 700;
  font-size: 30px;
}

p {
  border-bottom: 4px dashed red;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  border-radius: 40px;
  border: 2px solid red;
  width: 100%;
  padding: 10px 20px;
  outline: none;
}

.table {
  padding: 0 20px;
}
